<fieldset>
<div class="row">
  <div class="col-sm-4">
    <%= f.label :name %>: &nbsp; 
    <%= f.text_field :name %> &nbsp; <%= link_to '[remove]', '#', class: 'remove_fields' %>
  </div>
</div>
</fieldset>