<div class="row">
    <div class = "col-md-6" style="vertical-align:middle;">
        <h1>Campaign</h1>
    </div>
    <div class = "col-md-6" style="vertical-align:middle;">
        <%= button_to "Add Candidates", campaigns_path, :class => "btn btn-primary", :method => :get %>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Candidate</th>
          <th>Status</th>
          <% @campaign.elements.each do |element| %>
          <th><%= element.name %> </th>
          <% end %>
        </tr>
      </thead>
      <tbody>
       
      </tbody>
    </table>
 </div>

<br>
